# bot envs
BOT_TOKEN=...
BOT_PORT=...

# database envs
POSTGRES_USER=...
POSTGRES_PASSWORD=...
POSTGRES_HOST=...
POSTGRES_PORT=...
POSTGRES_DB=...
POSTGRES_URL=...

POSTGRES_ECHO=...
POSTGRES_ECHO_POOL=...
POSTGRES_POOL_MAX_OVERFLOW=...
POSTGRES_POOL_SIZE=...
POSTGRES_POOL_TIMEOUT=...
POSTGRES_POOL_PRE_PING=...

# forum api envs
FORUM_API_URL=...
FORUM_API_KEY=...
